<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<meta charset="utf-8" />
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/main.css" />
	<title>List All Customers</title>
</head>

<body>
<!-- Header -->
<header id="header">
	<nav class="left">
		<a href="#menu"><span>Menu</span></a>
	</nav>
	<div th:if="${session.userdetails.role == T(com.team9.motors.model.Role).ADMIN}">
		<a href="/admin/dashboard" class="logo"><p th:utext = "${session.userdetails.firstName}+' ' +${session.userdetails.lastName}"></p></a>
	</div>
	<div th:if="${session.userdetails.role == T(com.team9.motors.model.Role).MECHANIC}">
		<a href="/mechanic/dashboard" class="logo"><p th:utext = "${session.userdetails.firstName}+' ' +${session.userdetails.lastName}"></p></a>
	</div>
	<nav class="right">
		<a href="/logout" class="button alt">Log out</a>
	</nav>
</header>

<!-- Menu -->

<nav id="menu">
	<ul class="links">
		<li th:if="${session.userdetails.role == T(com.team9.motors.model.Role).ADMIN}"><a href="/admin/supplier/add">Add New Supplier</a></li>
	</ul>
    <ul class="links">
        <li th:if="${session.userdetails.role == T(com.team9.motors.model.Role).ADMIN}"><a href="/admin/list">Employees</a></li>
        <li><a href="/all/supplier/list">Supplier</a></li>
        <li><a href="/all/product/list">Products</a></li>
        <li><a href="/all/catalogue/customers">Customers</a></li>
        <li><a href="/all/catalogue/listrecord">Stock Usage Records</a></li>
    </ul>
	<ul class="actions vertical">
		<li><a href="#" class="button fit">Logout</a></li>
	</ul>
</nav>


<br/>

<h2  style="text-align: center">Supplier List</h2>
<div  th:if="${session.userdetails.role == T(com.team9.motors.model.Role).ADMIN}" style="text-align: center; font-weight: bold;">
	<a href="/admin/supplier/add">Add New Supplier</a>
</div>
<br/>

<table th:if="${not #lists.isEmpty(supplierlist)}" style="width:50%; margin-left: auto; margin-right: auto;">
	<tr>
				<th>
   <a th:href="@{'/all/supplier/page/' +${currentPage} + '?sortField=id&sortDir=' +${reverseSortDir}}">
   ID</a></th>
   <th>
   <a th:href="@{'/all/supplier/page/' +${currentPage} + '?sortField=name&sortDir=' +${reverseSortDir}}">
   Name</a></th>
   <th>
   <a
   th:href="@{'/all/supplier/page/' +${currentPage} + '?sortField=address&sortDir=' +${reverseSortDir}}">
   Address</a></th>
   <th>
   <a th:href="@{'/all/supplier/page/' +${currentPage} + '?sortField=email&sortDir=' +${reverseSortDir}}">
   Email</a></th>
   <th>
   <a th:href="@{'/all/supplier/page/' +${currentPage} + '?sortField=phoneNumber&sortDir=' +${reverseSortDir}}">
   Phone Number</a></th>
		<th th:if="${session.userdetails.role == T(com.team9.motors.model.Role).ADMIN}">Edit</th>
		<th th:if="${session.userdetails.role == T(com.team9.motors.model.Role).ADMIN}">Delete</th>
	</tr>

	<tr th:each ="supplier:${supplierlist}">
		<td th:text="${supplier.id}">Id</td>
		<td><a th:href="@{/all/supplier/detail/}+${supplier.id}" th:text="${supplier.name}">Name</a></td>
		<td th:text="${supplier.address}">Address</td>
		<td th:text="${supplier.email}">Email</td>
		<td th:text="${supplier.phoneNumber}">Phone</td>
		<td th:if="${session.userdetails.role == T(com.team9.motors.model.Role).ADMIN}"><a th:href="@{/admin/supplier/edit/}+${supplier.id}">Edit</a></td>
		<td th:if="${session.userdetails.role == T(com.team9.motors.model.Role).ADMIN}"><a th:href="@{/admin/supplier/delete/}+${supplier.id}">Delete</a></td>
	</tr>


</table>



	<br/>
	<div style="text-align: center;">
	     Total Items: [[${total}]] - Page [[${currentPage}]] of [[${totalPages}]]
	     &nbsp; -&nbsp;
	     
	     <a th:if="${currentPage >1}" th:href="@{'/all/supplier/page/1?sortField='+${sortField}+'&sortDir=' +${sortDir}}"> First</a>
	     <span th:unless="${currentPage >1}"> First</span>
	     &nbsp;&nbsp;
	     
	     <a th:if="${currentPage >1}" th:href="@{'/all/supplier/page/' + ${currentPage - 1}+ '?sortField='+${sortField}+'&sortDir=' +${sortDir}}"> Previous</a>
	     <span th:unless="${currentPage >1}"> Previous</span>
	     &nbsp;&nbsp;
	     
	     <span th:each="i: ${#numbers.sequence(1,totalPages)}">
	       <a th:if="${i != currentPage}" th:href="@{'/all/supplier/page/'} + ${i}+ '?sortField='+${sortField}+'&sortDir=' +${sortDir}">[[${i}]]</a>
	       <span th:unless="${i != currentPage}" >[[${i}]]</span> 
	       &nbsp;&nbsp;
	     </span>
	     
	     <a th:if="${currentPage <totalPages}" th:href="@{'/all/supplier/page/' + ${currentPage + 1}+ '?sortField='+${sortField}+'&sortDir=' +${sortDir}}"> Next</a>
	     <span th:unless="${currentPage <totalPages}"> Next</span>
	     &nbsp;&nbsp;
	     
	     <a th:if="${currentPage <totalPages}" th:href="@{'/all/supplier/page/' + ${totalPages}+ '?sortField='+${sortField}+'&sortDir=' +${sortDir}}"> Last</a>
	     <span th:unless="${currentPage <totalPages}"> Last</span>
	     &nbsp;&nbsp;
	</div>
	<br/>



<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>



</body>
</html>